<div class="form-wrapper">
  <form class="form" ng-submit="LoginFormController.submit(LoginFormController.formData)">
    <div class="form-chunk">
      <label for="user">Usuario:</label>
      <input type="text" name="user" id="formData:user" ng-model="LoginFormController.formData.user" />
    </div>
    <div class="form-chunk">
      <label for="password">Contraseña:</label>
      <input type="password" name="password" id="formData:password" ng-model="LoginFormController.formData.password" />
    </div>
    <div class="form-chunk" ng-if="LoginFormController.userErrorMsg">
      <p class="form-chunk__errormsg" ng-bind="LoginFormController.userErrorMsg"></p>
    </div>
    <div class="form-chunk">
      <button class="form-button form-button--filled" type="submit">Entrar</button>
      <button class="form-button form-button--outline" type="button" ng-click="LoginFormController.clear()">Limpiar</button>
    </div>
  </form>
</div>